.footer{
    background-color: #66A3BB;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    z-index: 9;
}
.footer-weather{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
.icon-footer{
    height: 30px;
    margin-right: 10px;
    filter: grayscale(100%);
}
.temp-footer{
    margin-right: 10px;
}