.input{
    border-radius: 5px;
    margin-top: 120px;
    margin-bottom: 20px;
    border: 0.5px solid #66A3BB;
    outline: none;
    padding-left: 10px;
    width: 80vw;
}

.buttons{
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.buttons > button{
    height: 20px;
    border-radius: 10px;
    background-color: #66A3BB;
    margin: 0 5px;

}
.buttons > button:focus{

    background-color: #66A3BB;
    color: white;

}

.tasks{
    width: 90%;
    margin-bottom: 30px;
}

.Task{
    margin: 5px 0;
    width: 100%;
}
.Task > article{
    width: 80%;
}
.Task > article > svg{
    color: #66A3BB;
}
.Task > button {
    margin-left: 10px;
    width: 50px;
    border-radius: 10px;
   
}
.invisible{
    visibility: hidden;
}
.wrong{
    text-decoration: underline red;
}
.valid{
    text-decoration: none;
}