.current{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 10px;    
}

.weatherInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.temp{
    font-size: 36px;
    margin: 10px 0px;
}